<style type="text/css">
    .CodeMirror pre {
        padding: 0px 42px;
    }
</style>
<form name="formly_form" ng-submit="btnSve()">
    <div class="portlet light" style="padding-bottom:0;">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>
                <span class="caption-subject bold uppercase">{{modalName}} sinh viên</span>
                <!--<span class="caption-helper">cấu hình...</span>-->
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label  text-bold col-md-4">Tên: </label>
                        <div class="col-md-8 ">
                            <input ng-model="Item.Name" type="text" ng-change="ChangeName()" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="clearfix"></div><br />
                    <div class="form-group">
                        <label class="control-label  text-bold col-md-4">Mã: </label>
                        <div class="col-md-8 ">
                            <input ng-model="Item.Code" type="text" class="form-control input-sm" />
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label  text-bold col-md-4">Ngày sinh: </label>
                        <div class="col-md-8 ">
                            <p class="input-group" style="width:100%">
                                <input type="text"
                                       id="StartDate"
                                       name="StartDate"
                                       ng-model="Item.Birthday"
                                       ng-value="Item.Birthday | date:'dd/MM/yyyy'"
                                       class="form-control input-sm"
                                       ng-click="open1($event)"
                                       uib-datepicker-popup="dd/MM/yyyy"
                                       datepicker-popup="dd/MM/yyyy"
                                       is-open="opened1"
                                       close-text="Đóng" clear-text="Xóa" current-text="Hôm nay" />
                                <span class="input-group-btn" style="width:1%">
                                    <button type="button" class="btn btn-sm btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <!--<div class="clearfix"></div><br />-->
                    <div class="form-group">
                        <label class="control-label  text-bold col-md-4">Lớp </label>
                        <div class="col-md-8 ">
                            <!--<select ng-model="Class" ng-options="class.ClassId as class.Name for class in Classes" ng-selected="class.ClassId == Class" class="form-control input-sm">
                                <option value="">Không</option>
                            </select>-->
                            <!-- <select ng-model="Class" class="form-control input-sm">
                                <option ng-repeat="class in Classes" value="{{class.ClassId}}" ng-selected="class.ClassId == Class">{{class.Name}}</option>
                            </select> -->
                            <ui-select ng-model="Class" theme="select2" ng-change="" ng-disabled="disabled"
                                       style="min-width: 100%; height:100%">
                                <ui-select-match placeholder="Chọn lớp...">
                                    {{$select.selected.Name}}
                                </ui-select-match>
                                <ui-select-choices repeat="class in Classes | filter: {Name: $select.search, Code: $select.search}">
                                    <div ng-bind-html="class.Name | highlight: $select.search"></div>
                                    <small>
                                        Mã lớp: {{class.Code}}
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="clearfix">

                </div>
                <hr />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" ng-click="Save()" class="btn btn-sm btn-primary">
            <i class="fa fa-save"></i> Lưu
        </a>
        <a href="javascript:;" ng-click="Cancel()" class="btn btn-sm btn-warning">
            <i class="fa fa-ban"></i> Đóng
        </a>
    </div>
</form>
<div class="alerts" ng-show="notify.queue.length > 0">
    <div class="alert alert-{{(m.type)||'info'}} alert-dismissable fade in pull-right" ng-repeat="m in notify.queue">
        <button type="button" class="close" ng-click="closeAlert(m.body)" data-dismiss="alert">×</button>
        <label>{{m.title}}</label>
        <div>{{m.body}}</div>
    </div>
</div>