<style type="text/css">
    .CodeMirror pre {
        padding: 0px 42px;
    }
</style>
<form name="formly_form" ng-submit="btnSve()">
    <div class="portlet light" style="padding-bottom:0;">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>
                <span class="caption-subject bold uppercase">{{Action}} giáo viên</span>
                <!--<span class="caption-helper">cấu hình...</span>-->
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label  text-bold col-md-4">Tên: </label>
                        <div class="col-md-8 ">
                            <input ng-model="Item.Name" type="text" ng-change="ChangeName()" class="form-control input-sm" />
                        </div>
                    </div>
                    <div class="clearfix"></div><br />
                    <div class="form-group">
                        <label class="control-label  text-bold col-md-4">Mã: </label>
                        <div class="col-md-8 ">
                            <input ng-model="Item.Code" type="text" class="form-control input-sm" />
                        </div>
                    </div>

                </div>
                <div class="col-md-6">

                </div>
                <div class="clearfix">

                </div>
                <hr />
            </div>
            <div class="row" ng-if="UpdatingStatus">
                <div class="col-md-6">
                    Danh sách lớp quản lý
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" ng-if="UpdatingStatus">
                    <table class="table table-striped table-hover dataTable table-bordered">
                        <thead>
                            <tr style="background-color: #eeeeee;">
                                <th ng-repeat="header in Headers" width="{{header.Width}}" class="{{header.Align}}">
                                    {{header.Value}}
                                </th>
                            </tr>
                        </thead>
                        <tr ng-repeat="detail in Details">
                            <td>{{detail.Class.Code}}</td>
                            <td>{{detail.Class.Name}}</td>
                            <td>{{detail.FromDate | date: "dd/MM/yyyy"}}</td>
                            <td ng-if="detail.ToDate != null">{{detail.ToDate | date: "dd/MM/yyyy"}}</td>
                            <td ng-if="detail.ToDate == null" align="center">Nay</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" ng-click="Save()" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Lưu
            </a>
            <a href="javascript:;" ng-click="Cancel()" class="btn btn-sm btn-warning">
                <i class="fa fa-ban"></i> Đóng
            </a>
        </div>
</form>
<div class="alerts" ng-show="notify.queue.length > 0">
    <div class="alert alert-{{(m.type)||'info'}} alert-dismissable fade in pull-right" ng-repeat="m in notify.queue">
        <button type="button" class="close" ng-click="closeAlert(m.body)" data-dismiss="alert">×</button>
        <label>{{m.title}}</label>
        <div>{{m.body}}</div>
    </div>
</div>