<style>
    .zoom-85 {
        zoom: 85%;
    }
</style>
<div class="portlet light" data-ng-init="init()">
    <div class="portlet-title">
        <div class="caption caption-md">
            <span class="caption-subject bold theme-font-color uppercase">Thông tin giáo viên</span>
        </div>
    </div>
    <div class="portlet-body">
        Mã giáo viên: <div>{{model.Code}}</div><br />
        Tên giáo viên: <div>{{model.Name}}</div><br />
        Ngày sinh giáo viên: <div>{{FormattedDate | date: 'dd/MM/yyyy'}}</div><br />
        Danh sách lớp học đang chủ nhiệm: <br />
        <div ng-repeat="class in model.Classes">
            {{class.Name}}
            <br/>
        </div>
    </div>
</div>


