<style>
    .zoom-85 {
        zoom: 85%;
    }

    .tableFixHead {
        overflow-y: auto;
        height: 300px;
    }

        .tableFixHead th {
            position: sticky;
            top: 0;
            z-index: 1;
        }

            .tableFixHead th div {
                position: sticky;
            }

    /* Just common table stuff. Really. */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px 16px;
    }

    th {
        background: #eee;
    }

    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .select2 > .select2-choice.ui-select-match {
        /* Because of the inclusion of Bootstrap */
        height: 29px;
    }

    .control-button {
        height: 30px;
        width: 30px;
    }
</style>
<div class="portlet light" data-ng-init="init()">
    <div class="portlet-title">
        <div class="caption caption-md">
            <span class="caption-subject bold theme-font-color uppercase">Lớp: {{Class.Name}}</span>
        </div>
        <div class="actions margin-right-10">
            <button type="button" class="btn btn-sm btn-primary" title="Thêm mới" ng-click="Button.Save.Click()">
                <i class="fa fa-save"></i>
                <span>Lưu</span>
            </button>
            <button type="button" class="btn btn-sm" title="Tải lại" ng-click="Button.Reload.Click()">
                <i class="fa fa-refresh"></i>
                <span>Tải Lại</span>
            </button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-6">
                <label style="line-height:33px;">Mã lớp</label>
                <input type="text" class="form-control" ng-model="classCode" ng-disabled="true"
                       placeholder="Nhập mã lớp" />
                <label style="line-height:33px;">Tên lớp</label>
                <input type="text" class="form-control" ng-model="Class.Name" placeholder="Nhập tên lớp" />
            </div>
            <div class="col-md-6">
                <label style="line-height:33px;">Giáo viên chủ nhiệm</label><br />
                <!--<select ng-model="Class.TeacherId" ng-options="teacher.TeacherId as teacher.Name+ ' - ' +(teacher.Birthday|date:'dd/MM/yyyy') for teacher in Teachers"
                        ng-selected="teacher.TeacherId == Class.Teacher.TeacherId" class="form-control input-sm">
                    <option value="">Không</option>
                </select>-->
                <ui-select ng-model="Class.Teacher" theme="select2" ng-change="BindTeacherId()" ng-disabled="disabled"
                           style="min-width: 100%; height:100%">
                    <ui-select-match placeholder="Chọn giáo viên chủ nhiệm...">
                        {{$select.selected.Name}}
                    </ui-select-match>
                    <ui-select-choices repeat="teacher in Teachers | filter: {Name: $select.search}">
                        <div ng-bind-html="teacher.Name | highlight: $select.search"></div>
                        <!--<small>
                            email:
                            age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                        </small>-->
                    </ui-select-choices>
                </ui-select>
                <label style="line-height:33px;">Số lượng sinh viên</label>
                <input type="text" class="form-control" ng-model="studentQuantity" ng-disabled="true" />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <label class="caption-subject bold theme-font-color uppercase" style="line-height:33px;">Danh sách cán bộ lớp</label><br />
                <table class="table table-striped table-hover dataTable table-bordered">
                    <thead>
                        <tr>
                            <th ng-repeat="header in RoleHeaders" width="{{header.Width}}" class="{{header.Align}}">{{header.Value}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="role in Roles">
                            <th>{{role.Name}}</th>
                            <td id="{{role.ClassRoleId}}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <label class="caption-subject bold theme-font-color uppercase" style="line-height:33px;">Quản lý sinh viên</label><br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label style="line-height:33px;">Tìm kiếm sinh viên trong lớp</label>
                <input type="text" class="form-control" ng-model="textSearchIn"
                       placeholder="Nhập từ khóa tìm kiếm..." />
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <label style="line-height:33px;">Tìm kiếm sinh viên ngoài lớp</label>
                <input type="text" class="form-control" ng-model="textSearchOut"
                       placeholder="Nhập từ khóa tìm kiếm..." />
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label style="line-height:33px;">Danh sách sinh viên trong lớp</label>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <label style="line-height:33px;">Danh sách sinh viên không trong lớp</label>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-md-5">
                <div class="row tableFixHead">
                    <table class="table table-striped table-hover dataTable table-bordered">
                        <thead>
                            <tr style="background-color: #eeeeee;">
                                <th class="table-checkbox sorting_disabled" rowspan="1" colspan="1" aria-label=""
                                    style="width: 24px;">
                                    <div class="checker">
                                        <span ng-class="SelectAllOut?'checked':''">
                                            <input type="checkbox" class="group-checkable" ng-click="SelectAllOutItem()"
                                                   ng-model="SelectAllOut">
                                        </span>
                                    </div>
                                </th>
                                <th ng-repeat="header in Headers" width="{{header.Width}}" class="{{header.Align}}">
                                    {{header.Value}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="student in Class.Students | filter: textSearchIn" ng-class="student.Selecting?'selected':''">
                                <td rowspan="1" colspan="1" aria-label="" style="width: 24px;">
                                    <div class="checker">
                                        <span ng-class="student.Selecting?'checked':''">
                                            <input type="checkbox" ng-click="SelectOutItem(student)"
                                                   ng-model="student.Selecting" class="checkboxes">
                                        </span>
                                    </div>
                                </td>
                                <td class="text-center">
                                    {{student.Code}}
                                </td>
                                <td>
                                    <a class="item-title">{{student.Name}}</a>
                                </td>
                                <td class="text-center">
                                    {{student.Birthday | date: "dd/MM/yyyy"}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row control-row">
                    <div class="col-md-12" style="text-align:center;">
                        <input type="image" src="/assets/image/btn_left.png" ng-click="Button.MoveIn.Click()"
                               class="control-button" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <input type="image" src="/assets/image/btn_right.png" ng-click="Button.MoveOut.Click()"
                               class="control-button" />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row tableFixHead">
                    <table class="table table-striped table-hover dataTable table-bordered">
                        <thead>
                            <tr style="background-color: #eeeeee;">
                                <th class="table-checkbox sorting_disabled" rowspan="1" colspan="1" aria-label=""
                                    style="width: 24px;">
                                    <div class="checker">
                                        <span ng-class="SelectAllIn?'checked':''">
                                            <input type="checkbox" class="group-checkable" ng-click="SelectAllInItem()"
                                                   ng-model="SelectAllIn">
                                        </span>
                                    </div>
                                </th>
                                <th ng-repeat="header in Headers" width="{{header.Width}}" class="{{header.Align}}">
                                    {{header.Value}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="student in UnassignedStudents | filter: textSearchOut" ng-class="student.Selecting?'selected':''">
                                <td rowspan="1" colspan="1" aria-label="" style="width: 24px;">
                                    <div class="checker">
                                        <span ng-class="student.Selecting?'checked':''">
                                            <input type="checkbox" ng-click="SelectInItem(student)"
                                                   ng-model="student.Selecting" class="checkboxes">
                                        </span>
                                    </div>
                                </td>
                                <td class="text-center">
                                    {{student.Code}}
                                </td>
                                <td>
                                    <a class="item-title">{{student.Name}}</a>
                                </td>
                                <td class="text-center">
                                    {{student.Birthday | date: "dd/MM/yyyy"}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="alerts" ng-show="notify.queue.length > 0">
    <div class="alert alert-{{(m.type)||'info'}} alert-dismissable fade in pull-right" ng-repeat="m in notify.queue">
        <button type="button" class="close" ng-click="closeAlert(m.body)" data-dismiss="alert">×</button>
        <label>{{m.title}}</label>
        <div>{{m.body}}</div>
    </div>
</div>