<style>
    .zoom-85 {
        zoom: 85%;
    }
</style>
<div class="portlet light" data-ng-init="init()">
    <div class="portlet-title">
        <div class="caption caption-md">
            <span class="caption-subject bold theme-font-color uppercase">Lớp: {{Class.Name}}</span>
        </div>
        <div class="actions margin-right-10">
            <button type="button" class="btn btn-sm" title="Tải lại" ng-click="Button.Reload.Click()">
                <i class="fa fa-refresh"></i>
                <span>Tải Lại</span>
            </button>           
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">

        </div>
    </div>
</div>
<div class="alerts" ng-show="notify.queue.length > 0">
    <div class="alert alert-{{(m.type)||'info'}} alert-dismissable fade in pull-right" ng-repeat="m in notify.queue">
        <button type="button" class="close" ng-click="closeAlert(m.body)" data-dismiss="alert">×</button>
        <label>{{m.title}}</label>
        <div>{{m.body}}</div>
    </div>
</div>