/*COMMON CSS*/
.anchor-bottom-right {
    position : absolute;
    bottom : 10px;
    right : 10px;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
.padding-left-0 {
    padding-left: 0 !important;
}
.padding-right-0 {
    padding-right: 0 !important;
}
.main-wrapper {
    background: #eeeeee;
    box-shadow: 0px 0px 10px #A59797;
    /* background-color: #eeeeee; */
}
.main-content {
    padding-left : 10px;
    padding-right : 10px
}

/*07.10.2015 - TruongND*/
/* Custom Main Content For NewsBlock */

.red-bold {
    color: #b80002;
    font-weight: 600;
}
.blue-bold {
    color: #009EE5;
    font-weight: bold;
    font-size: 13px;
}
.link-text-block {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size:medium;
}
.link-text-block:hover {
    /*color: #ff8000;*/
    text-decoration: none;
}
.link-text-block:active {
    text-decoration: none;
}

.new-block-title {
    text-decoration: none;
}

.new-block-title:hover {
    color: #0461af;
    text-decoration: none;
}
/**TOP NAVIGATION ***************************************************/
.navbar-brand {
    padding: 7px 15px 5px 15px;
}

#top-nav {
    background: #b34804;
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
    position: relative;
}

.top-nav-h {
    line-height: 1.4em !important;
}

.navbar-toggle {
    padding-top: 6px !important;
}

@media (min-width: 768px) {
    .navbar-inverse .navbar-nav > li > a {
        padding-top: 10px !important;
    }

    .iconhome {
        padding-top: 10px !important;
    }

    .link-text-block {
        font-size: large !important;  
    }

    .quick-search {
        padding-top: 7px !important;
    }

    .main-content .left-section .news-block {
        height: 290px;
    }      
    .news-slider-list .item, .news-block-body .first-item .content a, .news-block-body .item a  {
        font-size: 14px !important;
    }

    .footer-wrap-content  {
        font-size: 13px !important;
    }

    .videos-item {
        height: 220px !important;
    }

    .thumbnail-video-item {
        height: 165px !important;
        width: 196px !important;
    }

    .hidden-lg {
        display: none;
    }
}

.thumbnail-video-item {
    width: 100%;
}

@media (max-width: 768px) {
    .newdetail-font, .newdetail-font p, .newdetail-font a, .newdetail-font span, .newdetail-font p font,  .title-16{
        font-size: 16px !important;
    }
}

.newdetail-font, .newdetail-font p, .newdetail-font a, .newdetail-font span, .newdetail-font p font {
    font-size: 14px;
    text-align: justify;
}

.iconhome {
        padding-top: 12px;
    }

.navbar-inverse .navbar-nav > li > a {
    padding: 6px 8px 6px 6px;
    color: #fff;
    font-size: 12px;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    background-color: #af1016;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
}
.child-level {
    position: absolute;
    z-index: 99999;
    /*background: #23EDED;*/
    background: #eeeeee;
    /*background: #3BD7EF;*/
    /* border: 1px solid #c70007; */
    width: 100%;
    padding: 0px 40px;
}
.child-level .child-level-head a {
    font-weight: bold;
    color: #c70007;
}
.child-level .child-level-head a:hover {
    color: #000;
}
.child-level a {
    color: #000;
    text-decoration: none;
    font-size: 12px;
}
.child-level a:hover {
    color: #c70007;
}
.child-level .child-item {
    margin-top: 0px;
    margin-bottom: 5px;
}

p.child-item {}


/**
    QUICK SEARCH ***************************************************/
.quick-search {
    padding-right: 15px;
}

.quick-search input {
    border-radius: 0px;
    width : 150px !important;
}
.quick-search button, .quick-search button:hover, .quick-search button:focus {
    /* border-radius: 0px; */
    /* background: #C30F0F; */
    color: #fff;
}

/**
    BANNER *******************************/
.banner {
    margin-bottom: 10px;
}
.small-banner {
    margin-bottom: 15px;
}

/**
    CURRENT TIME *******************************/
.current-time {
    font-style: italic;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    /* margin-left: 10px; */
}
    .showTime{
        text-decoration : double;
        font-size : 12px;
        font-style : normal;
        font-weight : normal;
    }


/**
    BOTTOM NAVIGATION ***************************************************/
#bottom-nav {
    background: #c70007;
    border: none;
    border-radius: 0px;
    margin-bottom: 0;
}

/**
    FOOTER ***************************************************/
.footer-wrap {
    background: #d16a28;
    color: #fff;
    font-size: 13px;
}
.footer-wrap-icon {
    /*padding: 10px;
    padding-left: 30px;*/
}
.footer-wrap-content {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
}

/**
    NEWS SLIDER ********************************/
.news-slider {
    margin-bottom: 15px;
}
.news-slider-imgs .item .item-head {
    position: relative;
}
.news-slider-imgs .item .item-head a {
    color: #fff;
}
.news-slider-imgs .item .item-head a:hover {
    color: #f3f3f3;
    text-decoration : none;
}
.news-slider-imgs .item .lead {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    padding: 10px 15px;
    color: #fff;
    background: rgb(0, 0, 0);/* fallback in case rgba is not supported */
    background: rgba(15, 72, 111, 0.66);
    width: 100%;
}
.news-slider-imgs .item .desc {
    padding: 10px
}

.news-slider-imgs {
    position: relative;
    background-color: #fff;
    /*border: 1px solid #ddd;*/
}
.news-slider-imgs-navigation .slick-prev {
    position: absolute;
    left: 0;
    top: 40%;
    width: 40px;
    height: 60px;
    background: rgb(0, 0, 0);/* fallback in case rgba is not supported */
    background: rgba(15, 72, 111, 0.66);
    border: none;
}
.news-slider-imgs-navigation .slick-next {
    position: absolute;
    right: 0;
    top: 40%;
    width: 40px;
    height: 60px;
    background: rgb(0, 0, 0);/* fallback in case rgba is not supported */
    background: rgba(15, 72, 111, 0.66);
    border: none;
}
.news-slider-list {
    /*padding: 10px 10px;*/
    background-color: #fff;
    /*border: 1px solid #ddd;*/
}
.news-slider-list .item {
    width: 100% !important;
    /*background: url('../Images/news_arrow.png') no-repeat 0px 5px;*/
    padding-left: 15px;
    padding-right: 5px;
    /* font-weight: 600; */
    cursor: pointer;
    font-size: 16px;
   
}
.news-slider-list .item a {
    color : #000;
}
.news-slider-list .item a:hover {
    color : #0461af;
    text-decoration : none;
}
.news-slider-list .item.active {
    color: #b80002;
}

.nav-tabs {
    border-bottom: none;
}

/**
    NEWS BLOCK ********************************/
.news-block-other {
    padding: 10px;
    padding-top: 0;
    /* border: 1px solid #ddd; */
    border-top: 3px solid #c70007;
    background: #fff;
    margin-bottom: 10px;
    position: relative;
} 
.news-block {
    padding: 10px;
    /*padding-top: 0;*/
    border: 1px solid #ddd; 
    border-top: 3px solid #c70007;
    background: #fff;
    margin-bottom: 10px;
    position: relative;
} 

/*.new-block:hover {
    color: #ff8000;
    text-decoration: none;
    border-bottom: dotted 1px;
}*/

.news-block-next {
    position: absolute;
    right: 10px;
    top: 5px;
}
.news-block-head {
    display: inline-block;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    color:#000 !important;
}
.news-block-head a {
    /*font-size: 15px;*/
}
.news-block-body .first-item img {
    margin-bottom: 5px;
    margin-right: 10px;
}
.news-block-body .first-item .content {
    font-weight: 600;
    text-align: justify;
}
.news-block-body .first-item .content a {
     color:#3e3838;
     font-size : 18px;
     text-align: justify;
}
.news-block-body .first-item .content a:hover {
    color : #0461af;
    text-decoration : none;
}
.news-block-body .item {
    /*background: url('../Images/news_arrow.png') no-repeat 0px 4px;
    padding-left: 15px;*/
    padding-right: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: justify;
}

.news-block-body .text_tag{
    background: #f1f1f1 url(../Images/icon_tag.gif) no-repeat left top;
    padding: 0 10px 0 20px;
    height: 20px;
    color: #939393;
    float: left;
    font: 400 13px/20px arial;
    margin: 0 5px 0 0;
}
.news-block-body .item a {
    color: #000;
    font-size: 15px;
}
.news-block-body .item a:hover {
    color: #0461af;
    text-decoration: none;
}
.news-block-foot {
    height: 15px;
    font-size: 13px;
}


/**
    DOCUMENT TABS ********************************/
.document-tabs {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: 14px;
}

.document-tabs .tab-pane {
    padding: 10px;
    background: #fff;
}

.document-tabs .tab-pane a {
    color: #000;
    font-weight: bold;    
}

.document-tabs .nav-tabs p a {
    color: #000;
}

#video-tab p a {
    color: #fff;
}

.document-tabs .nav-tabs a h4 {
    margin: 0;
}
.document-tabs .nav-tabs>li>a {
    border: none;
    border-radius: 0;
}

.document-tabs .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: none;
    border-top: 3px solid #c70007;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom-color: transparent;
}
.document-tabs .nav-tabs>li:first-child.active>a, .nav-tabs>li:first-child.active>a:hover, .nav-tabs>li:first-child.active>a:focus {
    
    border-left: none;
}
.document-tabs .nav-tabs>li>a:hover {
    border-color: #ddd;
}
.document-tabs .nav-tabs>li.active>a:hover {
    border-color: #ddd;
    border-top-color: #c70007;
}

.document-tabs .video-image-item {

}
.document-tabs .video-image-item a {
    color : #000;
    line-height: 20px;
    padding-top: 5px;
}
.document-tabs .video-image-item a:hover {
    color : #0461af;
    text-decoration : none;
}
.document-tabs .video-image-item a > p {
    padding-top : 5px;
}
/**
    VIDEO TAB ********************************/
#video-tab p {
    background: #000;
    color: #fff;
    padding: 10px;
    margin-bottom: 0;
}


/* Large Devices, Wide Screens */
@media (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media (max-width : 992px) {
    .navbar-inverse .navbar-nav>li>a {
        font-size: 12px;
    }
}

/* Small Devices, Tablets */
@media (max-width : 768px) {
    .document-tabs .nav-tabs a h4 {
        /*font-size: 14px;*/
    }
    .navbar-inverse .navbar-nav>li>a {
        font-size: 14px;
    }
    .footer-wrap-icon {
        text-align: center;
        margin: auto;
    }
    .footer-wrap-icon img {
        text-align: center;
        margin: auto;
    }
}

/* Extra Small Devices, Phones */ 
@media (max-width : 480px) {
    .document-tabs .nav-tabs a h4 {
        /*font-size: 10px;*/
    }
    .document-tabs .nav-tabs>li>a {
        /*padding: 4px 2px;*/
    }
    .page-link p {
        font-size: 12px;
    }
}

/* Custom, iPhone Retina */ 
@media (max-width : 320px) {
    .navbar-inverse .navbar-nav>li>a {
        font-size: 12px;
    }
    .document-tabs .nav-tabs a h4 {
        font-size: 8px;
    }
}
/*Custom by DuongPD*/
.link-text {
    color: #000;
    text-decoration: none;
}
.link-text:hover {
    color: #337ab7;
    text-decoration: none;
}

.padding-none {
    padding: 0px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.right {
    float: right;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.text-right {
    text-align: right;
}


/* Font */
.font-12, .font-12 p, .font-12 a,.font-12 span, .font-12 p font {
    font-size : 12px !important;
}
.font-14, .font-14 p, .font-14 a,.font-14 span, .font-14 p font {
    font-size : 14px !important;
}
.font-16, .font-16 p, .font-16 a,.font-16 span, .font-16 p font {
    font-size : 16px !important;
}
.font-20, .font-20 p, .font-20 a,.font-20 span, .font-20 p font {
    font-size : 20px !important;
}

/* Language link */
.language{
    position: absolute;
    top: 0px;
    right: 10px;
    font-size:12px;
    color: white;
    padding-top: 5px;
}
.language a{
    color:#ffffff;
}
.language a:hover{
    color:#337ab7;
    text-decoration:none;
}

.viewmore {
    color: #337ab7 !important;
    font-style: italic !important;
    font-weight: normal !important;
}

.language-m {
    color: #fff;
    float: left;
    padding: 13px 0px 10px 10px;
}

.language-m a {
    color: #fff;
}

.hr-v {
    display: inline-block;
    margin-top: -5px;
    vertical-align: middle;
}

.btn-footer-xs .btn {
    border-radius: 0px;
    background-color: #b34804;
    background-image: none;
    border-color: brown;
}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
    margin-left: 0px;
}