USE [master]
GO
/****** Object:  Database [SAVIS.CoreFW.School]    Script Date: 4/11/2019 1:35:18 AM ******/
CREATE DATABASE [SAVIS.CoreFW.School]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SAVIS.CoreFW.School', FILENAME = N'E:\SQLServerMS\MSSQL13.SQLEXPRESS\MSSQL\DATA\SAVIS.CoreFW.School.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SAVIS.CoreFW.School_log', FILENAME = N'E:\SQLServerMS\MSSQL13.SQLEXPRESS\MSSQL\DATA\SAVIS.CoreFW.School_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SAVIS.CoreFW.School].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SAVIS.CoreFW.School]
GO
USE [SAVIS.CoreFW.School]
GO
/****** Object:  Table [dbo].[scf_Class]    Script Date: 4/11/2019 1:35:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scf_Class](
	[ClassId] [uniqueidentifier] NOT NULL,
	[Code] [varchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[StudentQuantity] [int] NOT NULL,
	[TeacherId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[scf_Class_Role]    Script Date: 4/11/2019 1:35:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scf_Class_Role](
	[ClassRoleId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[scf_Student]    Script Date: 4/11/2019 1:35:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scf_Student](
	[StudentId] [uniqueidentifier] NOT NULL,
	[Code] [varchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Birthday] [date] NOT NULL,
	[ClassRoleId] [uniqueidentifier] NULL,
	[ClassId] [uniqueidentifier] NULL,
 CONSTRAINT [PK__scf_Stud__32C52B999F172B46] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[scf_Student_History]    Script Date: 4/11/2019 1:35:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scf_Student_History](
	[StudentHistoryId] [uniqueidentifier] NOT NULL,
	[StudentId] [uniqueidentifier] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[FromClassId] [uniqueidentifier] NULL,
	[ToClassId] [uniqueidentifier] NULL,
	[Reason] [nvarchar](100) NULL,
 CONSTRAINT [PK_scf_Student_History_1] PRIMARY KEY CLUSTERED 
(
	[StudentHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[scf_Teacher]    Script Date: 4/11/2019 1:35:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scf_Teacher](
	[TeacherId] [uniqueidentifier] NOT NULL,
	[Code] [varchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Birthday] [date] NOT NULL,
 CONSTRAINT [PK__scf_Teac__EDF25964758F45E9] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[scf_Teacher_History]    Script Date: 4/11/2019 1:35:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scf_Teacher_History](
	[TeacherHistoryId] [uniqueidentifier] NOT NULL,
	[TeacherId] [uniqueidentifier] NOT NULL,
	[ClassId] [uniqueidentifier] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK_scf_Teacher_History_1] PRIMARY KEY CLUSTERED 
(
	[TeacherHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[scf_Class] ADD  DEFAULT (newid()) FOR [ClassId]
GO
ALTER TABLE [dbo].[scf_Class] ADD  DEFAULT ((0)) FOR [StudentQuantity]
GO
ALTER TABLE [dbo].[scf_Class_Role] ADD  DEFAULT (newid()) FOR [ClassRoleId]
GO
ALTER TABLE [dbo].[scf_Student] ADD  CONSTRAINT [DF__scf_Stude__Stude__2E1BDC42]  DEFAULT (newid()) FOR [StudentId]
GO
ALTER TABLE [dbo].[scf_Teacher] ADD  CONSTRAINT [DF__scf_Teach__Teach__2F10007B]  DEFAULT (newid()) FOR [TeacherId]
GO
ALTER TABLE [dbo].[scf_Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[scf_Teacher] ([TeacherId])
GO
ALTER TABLE [dbo].[scf_Class] CHECK CONSTRAINT [FK_Class_Teacher]
GO
ALTER TABLE [dbo].[scf_Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[scf_Class] ([ClassId])
GO
ALTER TABLE [dbo].[scf_Student] CHECK CONSTRAINT [FK_Student_Class]
GO
ALTER TABLE [dbo].[scf_Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Class_Role] FOREIGN KEY([ClassRoleId])
REFERENCES [dbo].[scf_Class_Role] ([ClassRoleId])
GO
ALTER TABLE [dbo].[scf_Student] CHECK CONSTRAINT [FK_Student_Class_Role]
GO
ALTER TABLE [dbo].[scf_Student_History]  WITH CHECK ADD  CONSTRAINT [FK_Student_History_FromClass] FOREIGN KEY([FromClassId])
REFERENCES [dbo].[scf_Class] ([ClassId])
GO
ALTER TABLE [dbo].[scf_Student_History] CHECK CONSTRAINT [FK_Student_History_FromClass]
GO
ALTER TABLE [dbo].[scf_Student_History]  WITH CHECK ADD  CONSTRAINT [FK_Student_History_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[scf_Student] ([StudentId])
GO
ALTER TABLE [dbo].[scf_Student_History] CHECK CONSTRAINT [FK_Student_History_Student]
GO
ALTER TABLE [dbo].[scf_Student_History]  WITH CHECK ADD  CONSTRAINT [FK_Student_History_ToClass] FOREIGN KEY([ToClassId])
REFERENCES [dbo].[scf_Class] ([ClassId])
GO
ALTER TABLE [dbo].[scf_Student_History] CHECK CONSTRAINT [FK_Student_History_ToClass]
GO
ALTER TABLE [dbo].[scf_Teacher_History]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_History_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[scf_Class] ([ClassId])
GO
ALTER TABLE [dbo].[scf_Teacher_History] CHECK CONSTRAINT [FK_Teacher_History_Class]
GO
ALTER TABLE [dbo].[scf_Teacher_History]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_History_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[scf_Teacher] ([TeacherId])
GO
ALTER TABLE [dbo].[scf_Teacher_History] CHECK CONSTRAINT [FK_Teacher_History_Teacher]
GO
USE [master]
GO
